#Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

#Nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-end;
    gap: 20px;
}

#Nav a:link, a:visited {
    text-decoration: none;
    font-size: 1.2em;
    color: teal;
}

#Nav a.active {
    border-bottom: solid 1px;
}